<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestImagenView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57F1A2FB1E2DA96400F583FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F1A3141E2DA96400F583FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F1A31F1E2DA96500F583FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
